*.tsv
*.txt
*.pdf
*.gz
*.csv
*.png
Module_2/Code_2 copy.ipynb
Module_5/results.pickle
Module_5/results1.pickle
Module_5/results_small.pickle
Module_2/Notebook_2_2.ipynb
Module_6/Notebook_6_2.ipynb
Module_7/Notebook_7_2.ipynb
